[user]
    name = {{ gitconfig.name }}
    email = {{ gitconfig.email }}

[branch]
    autosetuprebase = always

[gc]
    autoDetach = false

[alias]
    oneline = log --oneline
{% if gitconfig.credentials is defined %}
{% for c in gitconfig.credentials %}

[credential "{{ c.name }}"]
    username = {{ c.username }}
    helper = {{ c.helper }}
{% endfor %}
{% endif %}
{% if use_vscode_git %}

[core]
    editor = code --wait

[diff]
    tool = default-difftool

[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE

[commit]
    template = /dev/null
{% endif %}
